<div class="modal fade" 
    [class.show]="show" 
    [style.display]="show? 'block' : 'none'">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="title">{{title}}</h5>

        <ng-content *ngIf="!title" select="header"></ng-content>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="show = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="footer"></ng-content>
      </div>
    </div>
  </div>
</div>